<ng-container *ngIf="data$ | async as data">
    <div *ngIf="data.showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="max-h-full overflow-hidden flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto  dark:shadow-slate-700/[.7]">
        <div class="flex justify-between items-center py-3 px-4 border-b dark:border-gray-700">
            <h3 class="font-bold text-black">
                Edit {{data.rx.medication}}
            </h3>
            <button type="button" class="flex justify-center items-center w-7 h-7 text-sm font-semibold rounded-lg border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none  dark:border-transparent  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#hs-bg-gray-on-hover-cards" (click)="toggleModal()">
            <span class="sr-only">Close</span>
            <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
        </div>
    
        <div class="p-4 overflow-y-auto">
            <div class="sm:divide-y divide-gray-200 dark:divide-gray-700">
            <div class="py-3 sm:py-6">
                <h4 class="mb-2 text-xs font-semibold uppercase text-gray-600 ">
                    Base
                </h4>
    
                <!-- Grid -->
                <div class="grid gap-2 sm:grid-cols-2 md:grid-cols-3">
                <!-- Card -->
                <a class="bg-white p-4 transition duration-300 rounded-lg hover:bg-gray-100  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="../docs/frameworks-vuejs.html">
                    <div class="flex">
                    <div class="mt-1.5 flex justify-center flex-shrink-0 rounded-s-xl">
                        <svg class="w-5 h-5 " width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"></path>
                        </svg>
                    </div>
    
                    <div class="grow ms-6">
                        <h3 class="text-sm font-semibold text-blue-600 dark:text-blue-500">
                        {{data.rx.owner}}
                        </h3>
                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-500">
                            {{data.rx.owner}}
                        </p>
                    </div>
                    </div>
                </a>
                <!-- End Card -->
                </div>
                <!-- End Grid -->
            </div>
    
            <div class="py-3 sm:py-6">
                <h4 class="mb-2 text-xs font-semibold uppercase text-gray-600 dark:text-gray-400">
                Advanced
                </h4>
    
               
    
                <p class="mt-4 text-xs text-gray-500">
                Completely unstyled, fully accessible UI <a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium" href="../plugins.html">plugins</a> for popular features that for one reason or another don't belong in core.
                </p>
            </div>
            </div>
        </div>
    
        <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t dark:border-gray-700">
            <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline font-medium dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="../docs/index.html">
            Installation Guide
            <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </a>
        </div>
        </div>
    </div>
    
    
</ng-container>
